.contactList {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  list-style: none;
}

.contactList h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
}

.contactList p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.editImage{
  display: flex;

  width:25px;
  height: 25px;
  margin-left: 10px;
  /* float: right; */
  margin-bottom: 50px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
